*{
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    box-sizing: border-box;
}
.container{
    padding: 10px;
    width:100%;
    min-height: 100hv;
    padding: 10px;
    background: linear-gradient(135deg,#ccd2d5,#8cb6c2);
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #ffff;
    margin: 100px auto 300px;
    padding:40px 30px 70px;
    border-radius:10px;
}
.todo-app h2{
    color:rgb(56, 55, 53);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f3;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border:none;
    outline:none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border:none;
    outline:none;
    padding:16px 50px;
    background: #ff4545;
    color:#fffafa;
    font-size: 16px;
    cursor:pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17x;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position:absolute;
    height: 28px;
    width:28px;
    border-radius: 50%;
    background-image: url(Images/uncheck.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
}
ul li.checked{
    color: #585e61;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(Images/3388530.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #bdb9b9;
}

